<div class="row">
    <div class="col-6 d-grid gap-0">
        {% if row.show.anilistShowUrl %}
            <a
                    href="{{ row.show.anilistShowUrl }}"
                    target="_blank"
                    class="jump-link d-inline-flex align-items-center text-decoration-none"
            >
              <span class="text-decoration-underline">Anilist</span>
              <span class="bi bi-box-arrow-up-right d-inline-flex align-items-center"></span>
            </a>
        {% endif %}
        {% if row.show.malShowUrl %}
            <a
                    href="{{ row.show.malShowUrl }}"
                    target="_blank"
                    class="jump-link d-inline-flex align-items-center text-decoration-none"
            >
              <span class="text-decoration-underline">MAL</span>
              <span class="bi bi-box-arrow-up-right d-inline-flex align-items-center"></span>
            </a>
        {% endif %}
        <a class="jump-link" href="{{ path('my_watch_index') }}#show_target_{{ row.show.id }}">
            Personal
        </a>
    </div>
</div>
